{{- $page := .page -}}
{{- $links := slice -}}
{{- $seen := dict -}}
{{- range ($page.Params.links | default slice) -}}
  {{- if .url -}}
    {{- $key := .type | default .name | default .url -}}
    {{- if not (index $seen $key) -}}
      {{- $links = $links | append . -}}
      {{- $seen = merge $seen (dict $key true) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- with $page.Params.doi -}}
  {{- if not (index $seen "doi") -}}
    {{- $links = $links | append (dict "type" "doi" "url" (printf "https://doi.org/%s" .)) -}}
    {{- $seen = merge $seen (dict "doi" true) -}}
  {{- end -}}
{{- end -}}
{{- with $page.Params.url_pdf -}}
  {{- $links = $links | append (dict "type" "pdf" "url" .) -}}
{{- end -}}
{{- return $links -}}