{{- $page := .page -}}
{{- $links := slice -}}
{{- $seen := dict -}}

{{/* Cite button from cite.bib */}}
{{- $cite := $page.Resources.GetMatch "cite.bib" -}}
{{- if $cite -}}
  {{- $links = $links | append (dict "type" "cite" "url" $cite.RelPermalink) -}}
  {{- $seen = merge $seen (dict "cite" true) -}}
{{- end -}}

{{/* DOI from doi: field */}}
{{- with $page.Params.doi -}}
  {{- $links = $links | append (dict "type" "doi" "url" (printf "https://doi.org/%s" .)) -}}
  {{- $seen = merge $seen (dict "doi" true) -}}
{{- end -}}

{{/* Links from links: list */}}
{{- range ($page.Params.links | default slice) -}}
  {{- if .url -}}
    {{- $key := .type | default .name | default .url -}}
    {{- if not (index $seen $key) -}}
      {{- $links = $links | append . -}}
      {{- $seen = merge $seen (dict $key true) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Shorthand url_ fields */}}
{{- with $page.Params.url_pdf -}}
  {{- $links = $links | append (dict "type" "pdf" "url" .) -}}
{{- end -}}

{{- return $links -}}